<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Diego Rolf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="header">
        <div class="name">Diego Rolf</div>
        <div class="options">
            <a href="#" class="active">Home</a>
            <a href="#">About me</a>
            <div class="projects">
                <a href="#">Projects</a>
                <div class="projects-dropdown">
                    <!-- <br> -->
                    <a href="/kapper">KNIPNEAR</a>
                    <a href="#">Efteling</a>
                    <a href="#">More coming...</a>
                </div>
            </div>
            <a href="#">Visit me</a>
        </div>
    </div>



    <!--scripts -->
    <script src="{{ url_for('static', filename='script/script.js') }}" </script>
        < /body> < /
        html >